header {
    padding: 0 0.75rem;
    margin-bottom: 2rem;
}

#logo {
    margin-bottom: 1rem;
}

#everything {
    width: 100%;
    max-width: 500px;

    padding: 2rem 0.75rem;

    margin: 0 auto;
}
