@use "functions" as *;

// 2nd floor basement colors: #262401, #403C08, #8C8A65, #BFBD99, #F2F0D0

$background-color-start: #f3f3ec;
$background-color-end: #bfbd99;

$foreground-a-color-start: #333333;
$foreground-a-color-end: #000000;

$foreground-b-color-start: #262401;
$foreground-b-color-end: #bfbd99;

:root {
    --sans-serif-font-family: "Inter", Arial, Helvetica, sans-serif;
    --monospace-font-family: "Google Sans Code", monospace;

    // generated background color scale (gamechanger)
    @include generate-color-properties(
        "background-color",
        $background-color-start,
        $background-color-end,
        11
    );

    // generated foreground color scale
    @include generate-color-properties(
        "foreground-color",
        $foreground-a-color-start,
        $foreground-a-color-end,
        4
    );

    @include generate-color-properties(
        "foreground-color",
        $foreground-b-color-start,
        $foreground-b-color-end,
        10,
        4
    );

    --border-color-0: var(--foreground-color-11);
    --border-color-1: var(--foreground-color-12);
    --border-color-2: var(--foreground-color-13);
}

// todo: implement html.dark
