body {
    color: var(--foreground-color-0);
    font-family: var(--sans-serif-font-family);
    font-weight: 400;
    font-optical-sizing: auto;
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
    letter-spacing: -0.02rem;
}

a {
    font-size: inherit;
    color: var(--foreground-color-4);
    text-decoration-style: dotted;
}

p {
    line-height: 1.5;
    letter-spacing: -0.005rem;
}

pre {
    margin: 1rem 0;
}

pre,
code {
    font-size: 0.8rem;
    font-family: var(--monospace-font-family);
}

input,
button {
    font-family: inherit;
    font-size: inherit;
}

.underline {
    text-decoration: underline;
    text-decoration-style: dotted;
}
