$button_size: 2.5rem;

button,
.button {
    color: var(--foreground-color-5);

    padding: 0.25rem 0.5rem;

    outline: none;
    border: 1px solid var(--border-color-0);

    background-color: var(--background-color-2);

    text-decoration: none;

    cursor: pointer;

    &:hover {
        border-color: var(--border-color-1);
        background-color: var(--background-color-3);
    }

    .symbol {
        font-size: 1.25rem;
        color: inherit;
    }
}

.squareButton {
    display: flex;
    justify-content: center;
    align-items: center;

    height: $button_size;
    width: $button_size;
}

.flexButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    height: $button_size;
    padding: 0 0.75rem;
}
