// sorta like misc but does not pertain to layout

.shadowContainer {
    box-shadow: 6px 6px var(--background-color-4);
    border: 1px solid var(--border-color-0);
}

.divider {
    width: 100%;
    border-top: 1px solid black;
}
