name: check formatting

on:
    pull_request:
    push:

jobs:
    prettier:
        runs-on: ubuntu-latest

        steps:
            - name: check out repository
              uses: actions/checkout@v4

            - name: set up node
              uses: actions/setup-node@v4

            - name: install dependencies
              run: npm ci

            - name: run check
              run: npm run check
